/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set the body to cover the full height of the screen */
  body, html {
    height: 100%;
    width: 100%;
    font-family: 'Playfair Display', serif;
    color: white;
    background-color: black;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* Header styling */
  header {
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,          /* Black at the top */
      rgba(0, 0, 0, 0.6) 50%,      /* Mid transition */
      rgba(0, 0, 0, 0) 100%         /* Fully transparent at the bottom */
    );
    background-size: cover;         /* Ensure the image covers the header */
    background-position: center;    /* Center the background image */
    position: relative;
  }
  
  /* Ensure text is above the overlay */
  header h1, header p {
    position: relative;
    z-index: 2;
  }
  header .art-icon {
    width: 60px; /* Adjust size as needed */
    height: 60px;
    margin-bottom: 20px; /* Space between icon and subtitle */
    z-index: 0;
  }
  /* Main heading styling */
  header h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Atkinson Hyperlegible Next", serif;
  }
  
  /* Subtitle styling */
  header p {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    header h1 {
      font-size: 2rem;
    }
  
    header p {
      font-size: 1.2rem;
    }
  }